/* -------------------------- Variables -------------------------- */
:root {
	--bg-color: #F2F2F2;
	--container-bg-color: #fff;
	--section-bg-color: #fff;
	--special-section-bg-color: #81B3D2;
	--txt-color: #000;
	--special-section-txt-color: #fff;
	--filter-txt-color: #fff;
	/* ----------------------------- меню навигации ----------------------------- */
	--nav-peace: #000000;
	--nav-move: #81B3D2;
	--nav-click: rgba(0, 0, 0, 0.3);
	--nav-focus: #766357;
	/* ---------------------------- поля формы поиска --------------------------- */
	--field-peace: #F2F2F2;
	--field-peace-border: #F2F2F2;
	--field-peace-border-thiсkness: 2px;
	--field-move: #EBEBEB;
	--field-move-border: #EBEBEB;
	--field-move-border-thiсkness: 2px;
	--field-focus-fill: #FFFFFF;
	--field-focus-border: #E5E5E5;
	--field-focus-border-thiсkness: 2px;
	/* -------------------------------- календарь ------------------------------- */
	--calendar-peace: #A9A9A9;
	--calendar-move: #000000;
	--calendar-click: #81B3D2;
	/* ---------------------- кнопки уменьшения-увеличения ---------------------- */
	--btn-updwn-bg: #F2F2F2;
	--btn-updwn-peace: #A9A9A9;
	--btn-updwn-move: #000000;
	--btn-updwn-click: #81B3D2;

	/* ------------------------------ кнопка Найти, кнопка Подробнее ------------------------------ */
	--btn-peace: #81B3D2;
	--btn-hover: #669EC0;
	--btn-click: #5496BD;
	--btn-txt-peace: #fff;
	--btn-txt-hover: #fff; /*пока не используется*/
  --btn-txt-click: rgba(255, 255, 255, 0.3);
	/* --------------------- кнопка Поиск гостиницы в Седоне, кнопка Забронировать --------------------- */
	--special-btn-search-peace: #766357;
	--special-btn-search-hover: #604E43;
	--special-btn-search-click: #503E33;



	/* -------------------------------- чекбоксы -------------------------------- */
	--chckb-peace: #ffffff;
	--chckb-move: #ffffff;
	--chckb-disable: #6A6A6A;
	--chckb-mark-peace: #ffffff;
	--chckb-mark-move: #ffffff;
	--chckb-mark-disable: #6A6A6A;
	--btn-slct-peace: #ffffff;
	--btn-slct-peace-size: 19px;
	--btn-slct-move: #000000;
	--btn-bg-clr:  #ffffff;
	--chkb-size: 23px;
	--chkb-brdr-line: 2px;
	--chkb-brdr-style: solid;
	--chkb-brdr-clr: #ffffff;
	--btn-show-move-bg: #ffffff;


	/* ---------------------------- кнопки сортировки --------------------------- */
	--btn-sort-peace: #CACACA;
	--btn-sort-move: #000000;
	--btn-sort-click: #81B3D2;
	--btn-sort-focus: #81B3D2;
	--txt-sort-peace: rgba(0, 0, 0, 0.3);
	--txt-sort-move: #81B3D2;
	--txt-sort-click: #000000;
	--txt-sort-focus: #81B3D2;
	--btn-dwn-border-thickness-peace: 1px;
	--btn-dwn-border-line-peace: dotted;
	--btn-dwn-border-color-peace: #81B3D2;
	--btn-dwn-border-thickness-move: 1px;
	--btn-dwn-border-line-move: dotted;
	--btn-dwn-border-color-move: #81B3D2;
	/* --------------------------- наименование отеля --------------------------- */
  --name-object-peace: #000000;
	--name-object-move: #81B3D2;
	--name-object-click: rgba(0, 0, 0, 0.3);
/* --------------------------------- рейтинг -------------------------------- */
--char-rating-peace: #81B3D2;
--btn-rate-bg-clr: #F2F2F2;
--btn-rate-txt-clr: #666666;

	/* ---------------------------- лого htmlacademy ---------------------------- */
	--logo-ha-peace: #000000;
	--logo-ha-move: #81B3D2;
	--logo-ha-click: #BDBBBC;

	}

	* {
		padding: 0;
		margin: 0;
	}
/* --------------------------- стилизация фильтров -------------------------- */
.filters {
	width: 1200px;
	height: 217px;
	background: url("../img/catalog/filters-bg.png") center center no-repeat;

}

.filters fieldset {
	border: none;
}
.filters fieldset:last-child {
	display: flex;
	flex-direction: column;

}
/*стилизация текста полей фильтров*/
.filters legend {
	color: var(--filter-txt-color);
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	line-height: 21px;
}
form {
	display: flex;
	justify-content: space-around;
	padding-top: 26.5px;
}
fieldset {
	text-align: left;

}
fieldset li {
	color: var(--filter-txt-color);
	text-transform: uppercase;
	line-height: 21px;
  text-align: left;
}
/*стилизайция  чекбоксов*/

.filter {
  padding-left: 30px; /*отступ слева от картинки чекбокса*/
  text-align: left;
}
.option {
  display: block;
  margin-bottom: 10px;
}
.filter__box {
  position: absolute;
	margin-left: -30px;
	width: var(--chkb-size);
	height: var(--chkb-size);
  background-image: url("../img/catalog/off.svg");
  }

.filter-input {
position: absolute;
width: 1px;
height: 1px;
overflow: hidden;
clip: rect(0 0 0 0);
  }
  /*Checked*/
.filter-input:checked + .filter__box {
  width: 26px;
	background-image: url("../img/catalog/on.svg");
}
/*Focused*/
.filter-input:focus + .filter__box {
	background-image: url("../img/catalog/off.svg");
}
.filter-input:checked:focus + .filter__box {
	background-image: url("../img/catalog/on.svg");
}
/*Disabled*/
.filter-input:disabled + .filter__box {
	background-image: url("../img/catalog/off-disabled.svg");
}
.filter-input:checked:disabled + .filter__box {
	background-image: url("../img/catalog/on-disabled.svg");
}









/**стилизация полей цен*/
.price-box {
display: flex;
position: relative;
	margin-left: 2px;
	width: 224px;
	height: 36px;
	/*border:2px solid #fff;
	border-radius: 2px;*/
  background-image: url("../img/catalog/price.svg");
  box-sizing: border-box;
}
.price-input {
  font-size: inherit;
  background: none;
  border: none;
  text-transform: uppercase;
  text-align: center;
  line-height: 21px;
}
.price-input::placeholder {
  color: #fff;

}
.price-input:first-child {
  width: 58px;
  height: 21px;
  margin: 6.5px 26px 8.5px 28px;
}
.price-input:last-child {
  width: 84px;
  height: 21px;
  margin: 6.5px 15px 8.5px 11px;
}
.price-input::-webkit-inner-spin-button {
  display: none;
}
.box-border {
  position: absolute;
  background-image: url("../img/catalog/price-brd.svg");
  width: 2px;
  height: 22px;
  margin-left: 112px;
  margin-top: 7px;
}

/*кнопка Показать фильтра цен*/
.cost-item__btn {
	color: var(--btn-slct-peace);
	background: none;

	border:
		var(--brdr-line)
		var(--brdr-style)
		var(--brdr-clr);
	border-radius: 2px;
	padding: 8px 35px;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
}

.cost-item__btn:hover {
	color: var(--btn-slct-move);
	background: var(--btn-bg-clr);
	border:
	  var(--brdr-line)
	  var(--brdr-style)
	  var(--brdr-clr);
	border-radius: 2px;
	padding: 8px 35px;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
}


/*стилизация таблицы*/
.housing-table {
	margin: auto;
}
table h3 {
	font-weight: 700;
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;
}

.sort-items {
		display: flex;
}
.sort-items__name {
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
}
.sort-item__btn {
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
	background: none;
	color: var(--txt-sort-peace);
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom:
		var(--btn-dwn-border-thickness-peace)
		var(--btn-dwn-border-line-peace)
		var(--btn-dwn-border-color-peace);
}
/*наведение мыши*/
.sort-item__btn:hover {
	color: var(--txt-sort-move);
	border-bottom:
	  var(--btn-dwn-border-thickness-peace)
	  var(--btn-dwn-border-line-peace)
	  var(--btn-dwn-border-color-peace);
	padding-bottom: 3px;
}
/*нажатие мыши*/
.sort-item__btn:active {
	color: var(--txt-sort-click);
	border: none;
}
/*фокус*/
.sort-item__btn:focus {
	color: var(--txt-sort-focus);
	border: none;
}
/*наименование найденного объекта*/
.object-name {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--name-object-peace);
 }
.object-name:hover {
color: var(--name-object-hover);
}
.object-name:active {
color: var(--name-object-click);
}

.btn-more {
  background: var(--btn-peace);
  color: var(--btn-txt-peace);
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 17px;
  padding-right: 16px;
}

.btn-more:hover {
  background: var(--btn-hover);
}

.btn-more:onCLick {
  background: var(--btn-click);
  color: var(--btn-txt-click);
}

.btn-book {
  background: var(--special-btn-search-peace);
  color: var(--btn-txt-peace);
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 16px;
  padding-right: 17px;
}

.btn-book:hover {
  background: var(--special-btn-search-hover);
}

.btn-book:active {
  background: var(--special-btn-search-click);
  color: var(--btn-txt-click);
}


	/* --------------------------------- рейтинг -------------------------------- */
  .simple-rating {
    position: relative;
    font-size: 24px;
    display: inline-block;
    color: var(--char-rating-peace);

  }
  .rating4::before {
    display: block;
    content: "★★★★";
  }
  .rating3::before {
    display: block;
    content: "★★★";
  }
  .rating2::before {
    display: block;
    content: "★★";
  }

  .simple-rating__items {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display:flex;
    flex-direction: row-reverse;
    overflow: hidden;
    }

  .simple-rating__item {
    position: absolute;
    width: 0%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;

  }
  .simple-rating__label {
    flex: 0 0 20%;
    height: 100%;
    cursor: pointer;

  }

  .full-rate {
    background: var(--btn-rate-bg-clr);
    color: var(--btn-rate-txt-clr);
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 12px;
    border: none;
  }
