/* -------------------------- Variables -------------------------- */
:root {
--bg-color: #F2F2F2;
--container-bg-color: #fff;
--section-bg-color: #fff;
--special-section-bg-color: #81B3D2;
--txt-color: #000;
--special-section-txt-color: #fff;
--filter-txt-color: #fff;
/* ----------------------------- меню навигации ----------------------------- */
--nav-peace: #000000;
--nav-move: #81B3D2;
--nav-click: rgba(0, 0, 0, 0.3);
--nav-focus: #766357;
/* ---------------------------- поля формы поиска --------------------------- */
--field-peace: #F2F2F2;
--field-peace-border: #F2F2F2;
--field-peace-border-thiсkness: 2px;
--field-move: #EBEBEB;
--field-move-border: #EBEBEB;
--field-move-border-thiсkness: 2px;
--field-focus-fill: #FFFFFF;
--field-focus-border: #E5E5E5;
--field-focus-border-thiсkness: 2px;
/* -------------------------------- календарь ------------------------------- */
--calendar-peace: #A9A9A9;
--calendar-move: #000000;
--calendar-click: #81B3D2;
/* ---------------------- кнопки уменьшения-увеличения ---------------------- */
--btn-updwn-bg: #F2F2F2;
--btn-updwn-peace: #A9A9A9;
--btn-updwn-move: #000000;
--btn-updwn-click: #81B3D2;

/* ------------------------------ кнопка Найти, кнопка Подробнее ------------------------------ */
--btn-search-act: #81B3D2;
--btn-search-move: #669EC0;
--btn-search-hover: #5496BD;
--btn-txt-act: #fff;
--btn-txt-move: #fff;
--special-btn-txt-click: rgba(255, 255, 255, 0.3);
/* --------------------- кнопка Поиск гостиницы в Седоне, кнопка Забронировать --------------------- */
--special-btn-search-act: #766357;
--special-btn-search-move: #604E43;
--special-btn-search-hover: #503E33;
--special-btn-txt-search-act: #fff;
--special-btn-txt-search-move: #fff;
--special-btn-txt-search-click: rgba(255, 255, 255, 0.3);
/* ----------------------------- кнопки соцсетей ---------------------------- */
--soc-btn-active: #81B3D2;
--soc-btn-move: #669EC0;
--soc-btn-hover: #5496BD;
--soc-btn-icon-act: #fff;
--soc-btn-icon-move: #fff;
--special-soc-btn-icon-click: rgba(255, 255, 255, 0.3);
/* -------------------------------- чекбоксы -------------------------------- */
--checkbx-peace: #ffffff;
--checkbx-move: #ffffff;
--checkbx-disable: #6A6A6A;
--checkbx-mark-peace: #ffffff;
--checkbx-mark-move: #ffffff;
--checkbx-mark-disable: #6A6A6A;
--btn-slct-peace: #ffffff;
--btn-slct-peace-size: 19px;
--btn-slct-move: #ffffff;
--chkb-size: 23px;
--chkb-brdr-line: 2px;
--chkb-brdr-style: solid;
--chkb-brdr-clr: #ffffff;
--btn-show-move-bg: #ffffff;

/* ---------------------------- кнопки сортировки --------------------------- */
--btn-sort-peace: #CACACA;
--btn-sort-move: #000000;
--btn-sort-click: #81B3D2;
--btn-sort-focus: #81B3D2;
--txt-sort-peace: rgba(0, 0, 0, 0.3);
--txt-sort-move: #81B3D2;
--txt-sort-click: #000000;
--txt-sort-focus: #81B3D2;
--btn-dwn-border-thickness-peace: 1px;
--btn-dwn-border-line-peace: dashed;
--btn-dwn-border-color-peace: #81B3D2;
--btn-dwn-border-thickness-move: 1px;
--btn-dwn-border-line-move: dashed;
--btn-dwn-border-color-move: #81B3D2;
/* --------------------------- наименование отеля --------------------------- */
--name-hotel-peace: #000000;
--name-hotel-move: #81B3D2;
--name-hotel-click: rgba(0, 0, 0, 0.3);
/* ---------------------------- лого htmlacademy ---------------------------- */
--logo-ha-peace: #000000;
--logo-ha-move: #81B3D2;
--logo-ha-click: #BDBBBC;

}
*{
	margin: 0;
	padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

.page-body {
	font-family: "PT Sans", "Arial", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: var(--txt-color);
	background-color: var(--bg-color);
 }

 .container {
	max-width: 1200px;
	margin: auto;
	background-color: var(--container-bg-color);
	box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

ul {
	list-style: none;
	}

header, section, footer {
		text-align: center;
		margin: auto;
}

a {
	text-decoration: none;
}

	.nav-item, .town-item, .feature-item,
	.bridge-item, .search-item,
	.about-header, .about-features, .button,
	.contact-item, .develop-item  {
	text-transform: uppercase;
}

/* ------------------------------- navigation ------------------------------- */
.main-header {
	height: 56px;
	background-color: var(--section-bg-color);
	font-weight: 700;
}

.main-navigation {
	width: 1200px;
	line-height: 26px;
	/* --------------------------- padding-top: 15px; --------------------------- */
}

.main-navigation ul {
	display: flex;
 justify-content: space-around;
}

.main-navigation ul li {
	margin-top: 15px;
}
.main-navigation ul .main-header-logo {
	margin-top: 0;
	display: block;
	position: absolute;
	 
}

.site-navigation {
	
}

.nav-item {
	/*display: inline;
	padding-left: 72px;
	padding-right: 72px;*/
}


.nav-button {
color: var(--txt-color);
}
.nav-button:hover {
	color: var(--nav-move);
}
.nav-button:active {
	color: var(--nav-click);
}
.nav-button:visited {
	color: var(--nav-focus);
}


/* ----------------------------- section Welcome ---------------------------- */
.welcome {
	background: url("../img/main/sec1_Shape.svg")
					center bottom no-repeat,
			url("../img/main/sec1_welcome01.svg")
					center 78px no-repeat,
			url("../img/main/sec1_gorgeous01.svg")
					center 136px no-repeat,
			url("../img/main/sec1_Sedona.svg")
					center 217px no-repeat,
			url("../img/main/sec1_bg_photo.jpg")
					no-repeat;

	width: 1200px;
	height: 509px;
	}
/* ------------------------------ section About ----------------------------- */
.about {
	width: 1200px;
	height: 216px;
	background-color: var(--section-bg-color);
	}
.about-header {
	width: 470px;
	font-size: 21px;
	line-height: 26px;
	margin: auto;
	padding-top: 56px;
}
.about-features {
	line-height: 26px;
	margin-top: 30px;
	margin-bottom: 52px;
	}
/* ------------------------------ section Town ------------------------------ */
.town-list, .bridge-list {
	width: 400px;
	/* ----------------------------- height: 256px; ----------------------------- */
	background-color: var(--special-section-bg-color);
	color: #fff;
	text-align: center;
	vertical-align: center;
}
.town-list {
	float: left;
}
.bridge-list {
	float:right;
}
.town-item, .bridge-item {
	text-align: center;
	vertical-align: center;
		}
	.item__header {
	 /* ------------------------------ width: 149px; ----------------------------- */
		height: 43px;
		margin: auto;
			padding-top: 47px;
	/* -------------------------- padding-left: 139px; -------------------------- */
	/* -------------------------- padding-right: 139px; ------------------------- */
	line-height: 21px;
	font-size: 21px;
	}
	.item__number {
		height: 21px;
	padding-top: 25px;
	line-height: 21px;
	}
	.item__context  {
		height: 43px;
	padding-top: 23px;
	padding-bottom: 54px;
	/* --------------------------- padding-left: 49px; -------------------------- */
	/* -------------------------- padding-right: 49px; -------------------------- */
	line-height: 21px;
	}
.town-img {
}
.bridge-list>.item__header {
padding-right: 126px;
padding-left: 126px;
}


/* ------------------------------ Преимущества ------------------------------ */
.features-list {
	margin-top: 60px;
	margin-bottom: 28px;

}
.features-list>li:nth-child(2) {
	padding-left: 130px;
	padding-right: 130px;	

}

.twn-item>.item__header {
	padding-top: 30px;
}

.twn-item>.item_context {
padding-top: 30px;
padding-bottom: 82px;
}
.feature-item {
	display: inline-block;
}
.item__logo {

}


.item__number {
	line-height: 21px;
	}

.item__context	{
	line-height: 21px;
	}
/* --------------------------------- search --------------------------------- */
.search {
	background: var(--section-bg-color);

}

.search-content {
	width: 568px;
	/* ----------------------------- height: 395px; ----------------------------- */
	margin: auto;
	
}
.search-content .btn-search-hotel {
	text-transform: uppercase;
	color:var(--btn-txt-act);
	font-weight: 700;
	font-size: 21px;
	line-height: 26px;
	border: none;
  background-color: var(--special-btn-search-act);
  padding: 30px;
	width: 568px
}

.search-header {
	text-transform: uppercase;
	font-size: 30px;
	line-height: 24px;
	padding-top: 58px;
	padding-bottom: 4px;
	}
.search-context {
		width: 435px;
		height: 95px;
		margin:auto;
		text-align: center;
		margin-bottom: 24px; 

	border: 1px dashed red;
	}
.search-context p {
	line-height: 24px;
	padding-top: 24px;
	text-transform: uppercase;
}

/* ------------------------------- search-form ------------------------------ */
.search-form {
		width: 568px;
	height: 395px;
	background-color:var(--section-bg-color);
	
}

.search-form {
	text-align: center;
	margin: auto;
	position: relative;
}

.search-form_content {
	position: absolute;
	top: 55px;
	left: 55px
	
}
.form .form-item {
	margin-top: 30px;
	text-align: left;
	}

.form .form-item:nth-child(1) {
	margin-top: 0px;
	}
.form	.form-item:nth-child(4) {
		float: right;
margin-top: 0;
	}

.form label {
font-weight: 700;	
text-transform: uppercase;
line-height: 26px;
}

.form input {
	background: var(--field-peace);
	border: none;
	font-weight: 700;	
	text-transform: uppercase;
	line-height: 26px;
	/* --------------------------- margin-left: 20px; --------------------------- */
	}
	.date {
		display: flex;
    align-items: center;
		justify-content: space-between;
		position: relative;
		
	}
	.date:nth-child(2) {
		margin-top: 30px;
	}
.date-name {
	width: 125px;
}
	.date-input {
		background: var(--field-peace);
		display: flex;
		
		width: 346px;
		height: 38px;
		
	}

	.date-pic {
		position: absolute;
		top: 7px;
		right: 9px;
	}

	.form	input[type="date"] {
		/* ---------------------------- padding-top: 6px; --------------------------- */
		/* -------------------------- padding-bottom: 6px; -------------------------- */
		border: none;
		margin-left: 13px;
	}
/*скрыть элемент календаря*/
	input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
		}
		.form .persons {
		display: flex;
		align-content: center;
    justify-content: space-between;
    align-items: center;
		margin-top: 30px;
		}

.persons .change {
	display: flex;
	align-content: center;
	justify-content: space-between;
	align-items: center;
	height: 38px;
	width: 114px;
	background-color: var(--btn-updwn-bg);
}
.persons .change:first-child {
	
}
.change .minus {
	margin: 18px 14px 17px 13px;
}
.change .plus {
	margin: 14px 14px 13px 13px;
}
.persons .num {
	/* ------------------------------ height: 38px; ----------------------------- */
	height: 26px;
	width: 36px;
	text-align: center;
	border: none;
	margin: 0;
	}

	/*скрыть кнопки увеличения-уменьшения значения*/
	input[type="number"]::-webkit-inner-spin-button {
		opacity: 0;
		
	}

.form .buttom {
	border: none;
	font-weight: 700;
	background-color: var(--btn-updwn-bg);
	color: var(--btn-updwn-peace);
	margin: 0;
}

.form  .btn-find {
		background-color: var(--btn-search-act);
	padding: 16px 182px;
	/* ------------------------------ width: 458px; ----------------------------- */
	color: var(--btn-txt-act);
	font-weight: 700;
	font-size: 21px;
	line-height: 26px;
	border: none;
	text-align: center;
	text-transform: uppercase;
	margin-top: 54px;
	margin-bottom: 55px;

}
/* ----------------------------------- map ---------------------------------- */
.map {
	background: url("../img/main/map.png") center no-repeat;
	width: 1200px;
	height: 594px;
	margin-top: -395px;
	margin-bottom: -120px;
	
	z-index: 0;
}
/* --------------------------------- footer --------------------------------- */
.footer {
	background: var(--section-bg-color);
	opacity: 0.9;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.footer ul {
	list-style: none;
}
.footer ul li a {
	text-decoration: none;
	text-transform: uppercase;
	color: black;
}
.contacts,
.socials {
	padding-top: 23px;
	padding-bottom: 36px;
	font-size: 21px;
	line-height: 26px;
}
.contacts-list {
	text-align: center;
	font-weight: 700;
	line-height: 26px;
}
.contact-item:nth-child(2) {
	margin-top: 9px;
}
.socials {
}
.social-list {
}
.social-item {
	display: inline-block;
}

.social-item:nth-child(2) {
	margin-left: 6px;
	margin-right: 6px;
}
.social-btn {
	background-color: #81b3d2;
	width: 46px;
	height: 48px;
}

.twitter {
	/* display: block;*/
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 15px;
	padding-right: 14px;
	margin: auto;
}
.fb {
	/*display: block;*/
	padding: 13px 17px;
	margin: auto;
}
.yt {
	/* display: block;*/
	padding: 16px 13px;
	margin: auto;
}
.develop-list {
	display: flex;
}
.develop-item {
	display: inline-block;
}
.dev-item__txt {
	font-size: 14px;
	line-height: 26px;
	text-transform: uppercase;
}
.dev-item__content {
	vertical-align: middle;
}
.ha-logo {
	display: block;
	margin-left: 15px;
}