


/* -------------------------- Variables -------------------------- */
:root {
--bg-color: aqua;
--section-bg-color: #fff;
--special-section-bg-color: #81B3D2;
--txt-color: #000;
--special-section-txt-color: #fff;
/* ----------------------------- меню навигации ----------------------------- */
--nav-peace: #000000;
--nav-move: #81B3D2;
--nav-click: rgba(0, 0, 0, 0.3);
--nav-focus: #766357;
/* ---------------------------- поля формы поиска --------------------------- */
--field-peace: #F2F2F2;
--field-peace-border: #F2F2F2;
--field-peace-border-thiсkness: 2px;
--field-move: #EBEBEB;
--field-move-border: #EBEBEB;
--field-move-border-thiсkness: 2px;
--field-focus-fill: #FFFFFF;
--field-focus-border: #E5E5E5;
--field-focus-border-thiсkness: 2px;
/* -------------------------------- календарь ------------------------------- */
--calendar-peace: #A9A9A9;
--calendar-move: #000000;
--calendar-click: #81B3D2;
/* ---------------------- кнопки уменьшения-увеличения ---------------------- */
--btn-updwn-bg: #F2F2F2;
--btn-updwn-peace: #A9A9A9;
--btn-updwn-move: #000000;
--btn-updwn-click: #81B3D2;

/* ------------------------------ кнопка Найти, кнопка Подробнее ------------------------------ */
--btn-search-act: #81B3D2;
--btn-search-move: #669EC0;
--btn-search-hover: #5496BD;
--btn-txt-act: #fff;
--btn-txt-move: #fff;
--special-btn-txt-click: rgba(255, 255, 255, 0.3);
/* --------------------- кнопка Поиск гостиницы в Седоне, кнопка Забронировать --------------------- */
--special-btn-search-act: #766357;
--special-btn-search-move: #604E43;
--special-btn-search-hover: #503E33;
--special-btn-txt-search-act: #fff;
--special-btn-txt-search-move: #fff;
--special-btn-txt-search-click: rgba(255, 255, 255, 0.3);
/* ----------------------------- кнопки соцсетей ---------------------------- */
--soc-btn-active: #81B3D2;
--soc-btn-move: #669EC0;
--soc-btn-hover: #5496BD;
--soc-btn-icon-act: #fff;
--soc-btn-icon-move: #fff;
--special-soc-btn-icon-click: rgba(255, 255, 255, 0.3);
/* -------------------------------- чекбоксы -------------------------------- */
--checkbx-peace: #ffffff;
--checkbx-move: #ffffff;
--checkbx-disable: #6A6A6A;
--checkbx-mark-peace: #ffffff;
--checkbx-mark-move: #ffffff;
--checkbx-mark-disable: #6A6A6A;
--btn-slct-peace: #ffffff;
--btn-slct-peace-size: 19px;
--btn-slct-move: #ffffff;
--btn-slct-move-size: 23px;
--btn-show-peace: 2px solid #ffffff;
--btn-show-move-bg: #ffffff ;

/* ---------------------------- кнопки сортировки --------------------------- */
--btn-sort-peace: #CACACA;
--btn-sort-move: #000000;
--btn-sort-click: #81B3D2;
--btn-sort-focus: #81B3D2;
--txt-sort-peace: rgba(0, 0, 0, 0.3);
--txt-sort-move: #81B3D2;
--txt-sort-click: #000000;
--txt-sort-focus: #81B3D2;
--btn-dwn-border-thicknesы-peace: 1px;
--btn-dwn-border-line-peace: dashed;
--btn-dwn-border-color-peace: #81B3D2;
--btn-dwn-border-thicknesы-move: 1px;
--btn-dwn-border-line-move: dashed;
--btn-dwn-border-color-move: #81B3D2;
/* --------------------------- наименование отеля --------------------------- */
--name-hotel-peace: #000000;
--name-hotel-move: #81B3D2;
--name-hotel-click: rgba(0, 0, 0, 0.3);
/* ---------------------------- лого htmlacademy ---------------------------- */
--logo-ha-peace: #000000;
--logo-ha-move: #81B3D2;
--logo-ha-click: #BDBBBC;

}
*{
	margin: 0;
	padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

.page-body {
	font-family: "PT Sans", "Arial", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: var(--txt-color);
	background-color: var(--bg-color);
 }

 .container {
	max-width: 1200px;
	margin: auto;
}

ul {
	list-style: none;
	}

header, section, footer {
		text-align: center;
		margin: auto;
}

a {
	text-decoration: none;
}

	.nav-item, .town-item, .feature-item,
	.bridge-item, .search-item,
	.about-header, .about-features, .button,
	.contact-item, .develop-item  {
	text-transform: uppercase;
}

/* ------------------------------- navigation ------------------------------- */
.main-header {
	height: 56px;
	background-color: var(--section-bg-color);
	font-weight: 700;
}

.main-navigation {
	width: 1200px;
	line-height: 26px;
	/* --------------------------- padding-top: 15px; --------------------------- */
}

.main-navigation ul {
	display: flex;
 justify-content: space-around;
}

.main-navigation ul li {
	margin-top: 15px;
}
.main-navigation ul .main-header-logo {
	margin-top: 0;
	display: block;
	position: absolute;
	 
}

.site-navigation {
	
}

.nav-item {
	/*display: inline;
	padding-left: 72px;
	padding-right: 72px;*/
}


.nav-button {
color: var(--txt-color);
}
.nav-button:hover {
	color: var(--nav-move);
}
.nav-button:active {
	color: var(--nav-click);
}
.nav-button:visited {
	color: var(--nav-focus);
}


/* ----------------------------- section Welcome ---------------------------- */
.welcome {
	background: url("https://maxspb1975.github.io/Academy_HTML/Sedona/img/main/sec1_Shape.svg")
					center bottom no-repeat,
			url("https://maxspb1975.github.io/Academy_HTML/Sedona/img/main/sec1_welcome01.svg")
					center 78px no-repeat,
			url("https://maxspb1975.github.io/Academy_HTML/Sedona/img/main/sec1_gorgeous01.svg")
					center 136px no-repeat,
			url("https://maxspb1975.github.io/Academy_HTML/Sedona/img/main/sec1_Sedona.svg")
					center 217px no-repeat,
			url("https://maxspb1975.github.io/Academy_HTML/Sedona/img/main/sec1_bg_photo.jpg")
					no-repeat;

	width: 1200px;
	height: 509px;
	}
/* ------------------------------ section About ----------------------------- */
.about {
	width: 1200px;
	height: 216px;
	background-color: var(--section-bg-color);
	}
.about-header {
	width: 470px;
	font-size: 21px;
	line-height: 26px;
	margin: auto;
	padding-top: 56px;
}
.about-features {
	line-height: 26px;
	margin-top: 30px;
	margin-bottom: 52px;
	}
/* ------------------------------ section Town ------------------------------ */
.town-list, .bridge-list {
	width: 400px;
	/* ----------------------------- height: 256px; ----------------------------- */
	background-color: var(--special-section-bg-color);
	color: #fff;
	text-align: center;
	vertical-align: center;
}
.town-list {
	float: left;
}
.bridge-list {
	float:right;
}
.town-item, .bridge-item {
	text-align: center;
	vertical-align: center;
		}
	.item__header {
	 /* ------------------------------ width: 149px; ----------------------------- */
		height: 43px;
		margin: auto;
			padding-top: 47px;
	/* -------------------------- padding-left: 139px; -------------------------- */
	/* -------------------------- padding-right: 139px; ------------------------- */
	line-height: 21px;
	font-size: 21px;
	}
	.item__number {
		height: 21px;
	padding-top: 25px;
	line-height: 21px;
	}
	.item__context  {
		height: 43px;
	padding-top: 23px;
	padding-bottom: 54px;
	/* --------------------------- padding-left: 49px; -------------------------- */
	/* -------------------------- padding-right: 49px; -------------------------- */
	line-height: 21px;
	}
.town-img {
}
.bridge-list>.item__header {
padding-right: 126px;
padding-left: 126px;
}


/* ------------------------------ Преимущества ------------------------------ */
.features-list {
	margin-top: 60px;
	margin-bottom: 28px;

}
.features-list>li:nth-child(2) {
	padding-left: 130px;
	padding-right: 130px;	

}

.twn-item>.item__header {
	padding-top: 30px;
}

.twn-item>.item_context {
padding-top: 30px;
padding-bottom: 82px;
}
.feature-item {
	display: inline-block;
}
.item__logo {

}


.item__number {
	line-height: 21px;
	}

.item__context	{
	line-height: 21px;
	}
/* --------------------------------- search --------------------------------- */
.search {
	background: var(--section-bg-color);
}
.search-item__header {
	margin-top: 58px;
	margin-bottom: 4px;
	}
	
	.search-item__context {
		width: 435px;
		height: 95px;
	margin:auto;
	line-height: 24px;
	}
	.button {
		background-color: #766357;
		color: #fff;
		font-weight: 700;
		border: none;
		padding: 30px 124px;
	}

/* ------------------------------- search-form ------------------------------ */
.search-form {
	width: 568px;
	height: 395px;
	margin: auto;
	
}


.search-form {
	text-align: center;
	width: 568px;
	height: 395px;
	background-color:#fff;

}
.search-form label {
	font-weight: 700;	
text-transform: uppercase;
}
.search-form input {
	background-color: var(--field-peace);
	border: none;
	font-weight: 700;	
	text-transform: uppercase;
	}

	.search-form #search-date-entry, #search-date-leave {
		
		/* ------------------------------ height: 38px; ----------------------------- */
		padding-left: 13px ;
		padding-right: 150px;
		padding-top: 6px;
		padding-bottom: 6px;
		border: none;
	}
.search-form #search-adult, #search-child {
	/* ------------------------------ height: 38px; ----------------------------- */
	padding-top: 6px;
	padding-bottom: 6px;
	border: none;
	margin: 0;
	}

.search-form .buttom {
	border: none;
	font-weight: 700;
	background-color: var(--btn-updwn-bg);
	color: var(--btn-updwn-peace);
	padding: 6px 8px 6px 8px;
	margin: 0;
}

.search-form  button {
	background-color: #81B3D2;
	padding: 16px 182px;
}
/* --------------------------------- footer --------------------------------- */
.footer {
	
}
/* -------------------------------- contacts -------------------------------- */
.contacts {
	
}
.contact-insta, .contact-phone {
	color:black;
	font-weight: 700;
}
/* ------------------------------ social-icons ------------------------------ */
.social-item {
	display: inline;
	background-color: #81B3D2; /*in peace*/
	padding: 10px;
	margin: 00px 10px ;
}
.social-buttom {
	text-align: center;
	vertical-align: middle;
	width:46px;
	height: 48px;
}